<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Template</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h2>Hello, <span th:text="${customerName}"></span>!</h2>
<p>Thanks for placing order with <b>Everse</b> Please find order details below</p>
<h3>Order Details:</h3>
<table>
    <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Total Amount</th>
        <th>Shipping Address</th>
        <th>Payment Method</th>
        <th>Payment Status</th>
        <th>Delivery Date</th>
        <th>Tracking Number</th>
        <!-- Add more order fields here -->
    </tr>
    <tr>
        <td th:text="${orderId}"></td>
        <td th:text="${orderDate}"></td>
        <td th:text="${totalAmount}"></td>
        <td th:text="${shippingAddress}"></td>
        <td th:text="${paymentMethod}"></td>
        <td th:text="${paymentStatus}"></td>
        <td th:text="${deliveryDate}"></td>
        <td th:text="${trackingNumber}"></td>
        <!-- Add more order field values here -->
    </tr>
</table>

<h3>Order Items:</h3>
<table>
    <tr>
        <th>Item Id</th>
        <th>Order Id</th>
        <th>Product Id</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>SubTotal</th>
        <th>Total</th>
    </tr>
    <tr th:each="item : ${orderItems}">
        <td th:text="${item.orderItemsId}"></td>
        <td th:text="${item.orderId}"></td>
        <td th:text="${item.productId}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.unitPrice}"></td>
        <td th:text="${item.subtotal}"></td>
        <td th:text="${item.total}"></td>
    </tr>
</table>

<p>Thank you for your purchase!</p>
<p>Regards,</p>
<p>Everse Team</p>
</body>
</html>
